body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: linear-gradient(-70deg, #d30909 1%, rgba(0, 0, 0, 0) 30%),
            url(images/william-thomas-ny6tO4ItOEY-unsplash.jpg);
    background-size: cover;
    background-position: 20% 23%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header.startup h1 {
	text-align: center;
}

table {
    margin: auto;
}
.table-fit {
    white-space: nowrap;
    width: 1%;
}
.boogaloo{
    font-family: 'Boogaloo',
    'cursive';
}

.bold {
    font-weight: bold;
}

.merienda {
    font-family: 'Merienda', cursive;
}

.kaushan {
    font-family: 'Kaushan Script', cursive;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.boogaloo {
    font-family: 'Boogaloo',
        cursive;
}

.roboto {
    font-family: 'Roboto Condensed',
        sans-serif;
}

.slabo {
    font-family: 'Slabo 27px',
        serif;
}

.bold {
    font-weight: bold;
}

.top-margin {
    margin-top: 40px;
}

.bottom-margin {
    margin-bottom: 40px;
}

.text-center {
	text-align: center;
	color: white;
    
}

#form {
    position: relative;
    overflow: hidden;
    margin-top: 70px;
    border-radius: 15px;
    padding: 40px 20px 20px 20px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
      /* filter: blur(10px); */
}

#form:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgb(255, 255, 255);
    filter: blur(11px) saturate(200) opacity(0.9);
}

#particles-js canvas {
	position: absolute;
    width:100%;
	height:100%;
	color: rgb(55, 0, 255);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: inline-flex;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}